/* title and instructions */

body {
  font-size: 12px;
  font-family: "Lucida Console", Monaco, monospace;
  color: white;
  font-weight: normal;
  background: black;
}

h1 {
  font-size: 20px;
  position: absolute;
  top: 0px;
  left: 340px;
}

h2 {
  font-size: 12px;
  position: absolute;
  top: 30px;
  left: 230px;
  text-align: center;
}


/* images */

#france {
  width: 890px;
  height: 500px;
  position: absolute;
  top: 160px;
  left: 0px;
}

#remy {
  width: 150px;
  transform: scaleX(-1);
  position: absolute;
  top: 0px;
  left: 0px;
}



/* popup */

.popup {
  display: inline-block;
  text-align: left;
}

#eric {
  width: 130px;
  transform: scaleX(-1);
  position: absolute;
  top: 270px;
  left: 760px;
}

#eric_message {
  color: white;
  position: absolute;
  top: 335px;
  left: 470px;
  text-align: right;
}

/* buttons */

.arrow-button {
  border: 1px solid white;
  border-radius: 6px;
  padding: 6px;
  width: 14px;
  display: inline-block;
  text-align: center;
}

.arrow-button:hover {
  cursor: pointer;
  background-color: #989ea6;
  color: black;
}

.button-name {
  font-size: 12px;
}

#left {
  position: absolute;
  top: 50px;
  left: 800px;
}

#right {
  position: absolute;
  top: 50px;
  left: 860px;
}

#down {
  position: absolute;
  top: 50px;
  left: 830px;
}

#up {
  position: absolute;
  top: 18px;
  left: 830px;
}

#home {
  width: 50px;
  position: absolute;
  top: 95px;
  left: 812px;
}


/* landing dock */

.dock {
  color: white;
  text-align: center;
  position: absolute;
  top: 460px;
  left: 600px;
}